
* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

.alert {
    position: absolute;
    font-size: 14px;
    font-weight: bold;
    font-style: italic;
    white-space: nowrap;
    top: -38px;
    left: 4px;
    background-color: #373E98;
}