* {
    box-sizing: border-box;
}

.city-search{
    position: relative;
    font-size: 16px;
}

.label{
    font-size: 14px;
    margin-left: 5px;
    color: #FFFFFF;
}

.suggestions{
    list-style-type: none;
    padding: 10px;
    color: #282D35;
    background-color: white;
    border: 1px solid #282D35;
    border-bottom-right-radius: 5px;
    border-bottom-left-radius: 5px;
    position: absolute;
    margin-top: 0;
}

.suggestions:focus{
    cursor:pointer;
}

.city{
    font-size: 16px;
    margin-top: 5px;
    margin-bottom: 15px;
    height: 30px;
    text-indent: 10px;
    border: 1px solid #444;
    border-radius: 5px;
    display: block;
}



