/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
    color: #FFFFFF;

}

a{
    color: #2a2a2a;
}

a:visited{
    color: #282c34;
}

.event-title-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #2a2a2a;
}

.event-title{
    margin-top: 0;
}


.event-description-wrapper{
    margin-right: auto;
    white-space: normal;
}

.event__details-header{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
}

@media all and (max-width: 500px) {

    h2 {
        font-size: 1.3em;
    }
}
