/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
    color: #FFFFFF;

}

a{
    color: #2a2a2a;
}

a:visited{
    color: #282c34;
}

.event-title-wrapper{
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
    -ms-flex-direction: row;
    flex-direction: row;
    color: #2a2a2a;
}

.event-title{
    margin-top: 0;
}

.button{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 30px;
    min-width: 120px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1em;
    margin-left: auto;
    cursor: pointer;
    color: #2a2a2a;
    background-color: #fee36e;
    border: 1px solid #fee36e;
    border-radius: 5px;
    white-space: nowrap;
    box-shadow: 2px 2px 5px hsla(300,15%,25%,0.3) inset;
}

.event-description-wrapper{
    margin-right: auto;
    white-space: normal;
}

.event__details-header{
    font-size: 20px;
    font-weight: bold;
    line-height: 2;
}

@media all and (max-width: 500px) {

    h2 {
        font-size: 1.3em;
    }
}