* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
    color: #FFFFFF;
}

.event-list-wrapper{
    padding-inline-start: 0;
}

.event-list{
    list-style-type: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    background: #FFFFFF;
    color: #282D35;
}