/*
* Prefixed by https://autoprefixer.github.io
* PostCSS: v8.4.12,
* Autoprefixer: v10.4.4
* Browsers: last 4 version
*/

* {
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
    color: #FFFFFF;
}

.event-item-wrapper{
    -webkit-padding-start: 0;
    padding-inline-start: 0;
}

.event-item{
    list-style-type: none;
    border: 1px solid grey;
    border-radius: 5px;
    padding: 20px;
    margin: 15px;
    background: #FFFFFF;
    color: #282D35;
    box-shadow: 6px 6px 10px hsla(300,15%,25%,0.3) inset;
}

.event-item:hover{
    outline: none;
    border: 1px solid rgba(241, 103, 117, 1)
}

.event-item:focus{
    outline: none;
    border: 1px solid rgba(241, 103, 117, 1)
}