* {
    box-sizing: border-box;
}

body {
    margin: 0;
    font-family: Inter, sans-serif;
    height: 100vh;
    background-color: #282D35;
    color: #FFFFFF;

}

.event-title-wrapper{
    display: flex;
    flex-direction: row;
    color: #2a2a2a;
}

.event-title{
    margin-top: 0;
}

.button{
    height: 30px;
    width: 100px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1em;
    margin-left: auto;
    cursor: pointer;
    background-color: #fee36e;
    border: 1px solid #fee36e;
    border-radius: 5px;
}

.event-description-wrapper{
    margin-right: auto;
    display: -webkit-box !important;
    -webkit-line-clamp: 7;
    -webkit-box-orient: vertical;
    white-space: normal;
    overflow: hidden;
    text-overflow: ellipsis;
}




