
.button{
    -ms-flex-wrap: nowrap;
    flex-wrap: nowrap;
    height: 30px;
    min-width: 120px;
    padding: 5px;
    font-size: 14px;
    font-weight: bold;
    text-align: center;
    line-height: 1em;
    margin-left: auto;
    cursor: pointer;
    color: #2a2a2a;
    background-color: #fee36e;
    border: 1px solid #fee36e;
    border-radius: 5px;
    white-space: nowrap;
}

.button:hover{
    background-color: #f16775;
    border: 1px solid #f16775;
}